<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftedBrainz | All Transactions</title>
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">

    <style>
        /* Styles for the popup */
        .imagePopup {
          display: none;
          position: fixed;
          z-index: 999;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.8);
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    
        #imagePopup img {
          max-width: 100%;
          max-height: 80vh;
        }
    
        .closeBtn {
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 20px;
          color: #fff;
          cursor: pointer;
        }

        .active{
            display: block;
        }

        .no-active{
            display: none;
        }
      </style>

    <link rel="stylesheet" href="/css/adminstyle.css">
    <link rel="stylesheet" href="/css/adminGeneral.css">
    <link rel="stylesheet" href="/css/adminaside.css">
    <link rel="stylesheet" href="/css/adminwallet.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminMain.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/adminAside') %>
       <!-- mobile dashboard end -->
        <main>
            <%- include('../partials/adminmobileHeader') %>
            <div class="dashboard-main-top">
                    <h1>ALL Transactions</h1>
            </div>

            <div>
              <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                  <%= messages.error %>
                </div>
              <% } %>
              <% if (messages.info) { %>
                  <div class="alert alert-info" role="alert">
                    <%= messages.info %>
                  </div>
              <% } %>
            </div>
            <%- include('../partials/admintrans', {transactions: transactions}) %>
        </main>
    </section>
    

      <script src="/js/dashboard.js"></script>
    <script src="js/wallet.js"></script>
</body>
</html>